.headingText
{
	font-size: 24px!important;
	font-weight: normal!important;
}
.bordered-button
{
	background-color: white;
}
.photoTabImage
{
	max-width: 100%!important;
}
#directionsLabel
{
	display: none!important
}